.middle1 {
    text-align: center;
    font-size: x-large;
    
}

.middle2 {
    text-align: left;
    
    width: 55%;
    margin-left: 400px;
    margin-bottom: 2em;
    }

section {
    display:flex;
  

}

.container-1 {
    width:33.33%;
}

body {
    background-color: #E0E0E0;
}

.summary {
   font-style:normal ;
}